footer li a,header li a{color:inherit}
body{max-width:28em;margin:4em auto;background:#fff;color:#000;font-family:Alef,sans-serif;overflow-y:scroll}
button{background:transparent;font-family:inherit}
button,footer a,header a,.button{display:block;margin:0;padding:1em;vertical-align:middle;text-align:center;text-decoration:inherit;border:none;border-radius:.3em;outline:none;box-sizing:border-box;}
button.fa::before,footer a.fa::before,header a.fa::before,.button.fa::before{padding-left:.5em}
#agendas-list button,#agendas-list footer a,#agendas-list header a,#agendas-list .button,#splash button,#splash footer a,#splash header a,#splash .button{display:inline-block}
#splash>:not(footer) button,#splash>:not(footer) footer a,#splash>:not(footer) header a,#splash>:not(footer) .button{background:#fff;color:#7290e0}
footer a,#categories-list a,#about .button,#qna .button{background:#7290e0;color:#fff}
#categories-list a{width:8em;height:6em;margin:.3em;}
#categories-list a.has-votes{background:#aec1f5}
.button{background:#fff;color:#000}
footer,header{position:fixed;right:0;left:0;text-align:center;width:100%;height:3em;background:#424242;color:#fff}
footer{bottom:0;top:inherit;background:#7290e0;border-top:solid medium #fff;}
#agendas footer,#categories footer{background:#fff;}
#agendas footer a,#categories footer a{background:#e8e860;color:#000}
#results footer{height:inherit;background:#e8e860;color:#000;}
#results footer a{font-size:1.5em;padding:0}
#results footer a,#results footer ol{background:#fff}
h1{font-size:3em}
h1,h2{margin:1rem auto;text-align:center}
h3{margin:1.5rem 0 0}
h4,p{margin:.5em 0;font-weight:normal;word-wrap:break-word;}
#agendas h4.synopsis,#agendas p.synopsis{display:block;margin:2em 0;}
#agendas h4.synopsis a:after,#agendas p.synopsis a:after{content:" (לפרטים)"}
header{top:0;}
header ol{margin:0}
header a{text-decoration:inherit}
#parties-list img{display:block;width:18em;height:4em;margin:.5em auto}
li{display:inline-block;}
#parties-list li{display:block}
header>ol{list-style:none}
footer>ol,section>ol{margin:0 auto;padding:0;text-align:center;clear:both}
ol#parties-list{text-align:start}
section,.collapsed{display:none}
small{font-size:small}
.agree{border:#009b42 solid medium;}
.agree.selected{background:#009b42}
.bgi{background:url("bg/podium.jpg") no-repeat center top fixed;background-size:cover}
.disagree{border:#f95554 solid medium;}
.disagree.selected{background:#f95554}
.indifferent{border:#f9c400 solid medium;}
.indifferent.selected{background:#f9c400}
.we-are{background:#000}
.splash{background:#604dff;color:#fff}
#agendas,#results{margin-bottom:7em}
#agendas>button,#agendas>.button{float:left;background:#aec1f5;color:#000}
#agendas h2 i{padding-left:.5em}
#agendas-list>li{width:100%;text-align:start}
#parties-list h3 img{float:left;height:1em;width:2em}
#parties-list h3 span{display:inline-block;width:4em;direction:ltr}
#splash{text-align:center;}
#splash p{text-align:start}
@font-face{font-family:'Alef';font-weight:bold;font-style:normal;src:url("https://oknesset.org/static/font/Alef-bold.eot");src:url("https://oknesset.org/static/font/Alef-bold.eot?#iefix") format('embedded-opentype'),url("https://oknesset.org/static/font/Alef-bold.woff") format('woff'),url("https://oknesset.org/static/font/Alef-bold.ttf") format('truetype'),url("https://oknesset.org/static/font/Alef-bold.svg#alefbold") format('svg')}
@font-face{font-family:'Alef';font-weight:normal;font-style:normal;src:url("https://oknesset.org/static/font/Alef-regular.eot");src:url("https://oknesset.org/static/font/Alef-regular.eot?#iefix") format('embedded-opentype'),url("https://oknesset.org/static/font/Alef-regular.woff") format('woff'),url("https://oknesset.org/static/font/Alef-regular.ttf") format('truetype'),url("https://oknesset.org/static/font/Alef-regular.svg#alefregular") format('svg')}
.fa{padding-left:.5em}
#categories-list .fa::before{display:block;padding-left:0}
