// Bmeter styling…
body
	max-width 30em
	margin 4em auto
	background white
button
footer a
.button
#categories-list>li>a
	display inline-block
	margin 0
	padding 1em
	width 8em
	height 6em
	vertical-align middle
	text-align center
	text-decoration inherit
	border none
	outline none
	box-sizing border-box
	background white
	color black
	&.selected
		border solid thick red
	#splash &
		background white
		color black
	#categories &
		margin 0.5em
		background blue
		color white
footer
header
	position fixed
	right 0
	left 0
	text-align center
	width 100%
	height 3em
	background darkslategray
	color white
	a
		padding 1em
		color inherit
footer
	bottom 0
	top inherit
	background darkslateblue
h1
h2
	margin 1rem auto
	text-align center
h4
p
	margin 0.5em 0
	font-weight normal
	word-wrap break-word
header
	top 0
	ol
		margin 0
	a
		text-decoration inherit
ol
	header>&
		list-style none
	footer>&,
	section>&
		margin 0 auto
		padding 0
		text-align center
	>li
		display inline-block
section
	display none
.agree
	border green
[disabled]
	background gray
.disagree
	border tomato
.indifferent
	border gold
.splash
	background mediumslateblue
	color white
#agendas-list>li
	width 100%
	text-align start
#splash
	text-align center
