// Bmeter styling…
// Color palette.
blueish=#604dff
darkblueish=#7290e0 //??? Was #4c3dcc, but Irit doesn't like it.
darkgrayish=#424242
pale=#aec1f5 //??? Was #c7c2f7
grayish=#c7c2f7
greenish=#009b42
redish=#f95554
yellowish=#f9c400
facebookcolor=#4466a3
twittercolor=#98e2fd
// Layouts and stuff.
a
	footer li &,
	header li &
		color inherit
body
	max-width 28em
	margin 4em auto
	background white
	color black
	font-family Alef,sans-serif
	overflow-y scroll //??? Replace with nicer, JS-based, scrollbar, eg: perfectscrollbar.js.
button // Reset browser's defaults.
	background white
	font-family inherit
button
footer a
header a
.button
	display block
	margin 0
	padding 1em
	vertical-align middle
	text-align center
	text-decoration inherit
	border none
	border-radius 0.3em
	outline none
	box-sizing border-box
	&.fa::before
		padding-left 0.5em
	#agendas-list &,
	#splash &
		display inline-block
	#splash>:not(footer) &
		background white
		color darkblueish
footer a
#categories-list a
#about .button
#qna .button
	background darkblueish
	color white
#categories-list a
	width 8em
	height 6em
	margin 0.3em
	&.has-votes
		background pale //??? rename this const!
.button
	background white
	color black
footer
header
	position fixed
	right 0
	left 0
	text-align center
	width 100%
	height 3em
	background darkgrayish
	color white
footer
	bottom 0
	top inherit
	background darkblueish
	border-top solid medium white
	#agendas &,
	#categories &
		background white
		a
			background #e8e860
			color black
	#results &
		height inherit
		background #e8e860
		color black
		a
			font-size 1.5em
			padding 0
		a
		ol
			background white
h1
	font-size 3em
h1
h2
	margin 1rem auto
	text-align center
h3
	margin 1.5rem 0 0
h4
p
	margin 0.5em 0
	font-weight normal
	word-wrap break-word
	#agendas &
		display none //??? Hidden initially; put [hidden] attribute in HTML instead?
		&.synopsis
			display block
			margin 2em 0
header
	top 0
	ol
		margin 0
	a
		text-decoration inherit
img
	#parties-list &
		background gray //??? Temporary hack, because missing images.
		display block
		width 9em
		height 2em
		//???margin-right 3em //??? Yuck.
li
	display inline-block
	#parties-list &
		display block
ol
	header>&
		list-style none
	footer>&,
	section>&
		margin 0 auto
		padding 0
		text-align center
		clear both
	&#parties-list //???
		text-align start
		//??? border  solid medium #604dff
		//??? padding 1em
section
	display none
[hidden]
	display none
.agree
	border greenish solid medium
	&.selected
		background greenish
.disagree
	border redish solid medium
	&.selected
		background redish
.indifferent
	border yellowish solid medium
	&.selected
		background yellowish
.we-are
	background black
.splash
	background blueish
	color white
#agendas
#results
	margin-bottom 7em
#agendas>button,
#agendas>.button
	float left
	background pale
	color black
#agendas h2 i
	padding-left 0.5em
#agendas-list>li
	width 100%
	text-align start
#parties-list span
	display inline-block
	width 4em
	direction ltr
#splash
	text-align center

// Fonts.
//??? Should use CDN instead! Either
// <link href='http://fonts.googleapis.com/css?family=Alef:400,700' rel='stylesheet' type='text/css'>
// or @import url(http://fonts.googleapis.com/css?family=Alef:400,700);
@font-face
	font-family 'Alef'
	font-weight bold
	font-style normal
	src url(https://oknesset.org/static/font/Alef-bold.eot)
	src url(https://oknesset.org/static/font/Alef-bold.eot?#iefix) format('embedded-opentype'), url(https://oknesset.org/static/font/Alef-bold.woff) format('woff'), url(https://oknesset.org/static/font/Alef-bold.ttf) format('truetype'), url(https://oknesset.org/static/font/Alef-bold.svg#alefbold) format('svg')
@font-face
	font-family 'Alef'
	font-weight normal
	font-style normal
	src url(https://oknesset.org/static/font/Alef-regular.eot)
	src url(https://oknesset.org/static/font/Alef-regular.eot?#iefix) format('embedded-opentype'), url(https://oknesset.org/static/font/Alef-regular.woff) format('woff'), url(https://oknesset.org/static/font/Alef-regular.ttf) format('truetype'), url(https://oknesset.org/static/font/Alef-regular.svg#alefregular) format('svg')

// Fix FontAwesome's messing up our line-height.
/*???
.fa
	font inherit !important
.fa::before
	font-family FontAwesome
*/
.fa
	padding-left 0.5em
.fa::before
	#categories-list &
		display block
		padding-left 0
		//??? padding-bottom 0.3em
